body {
	line-height: 1.5;
	color: #555;
	font-family: "Helvetica", "Arial", sans-serif;
}

pre {
	background: inherit;
}

nav {
	background: #FAFAFA;
}

.container-main{
	padding-top: 1em;
	margin-top: 1em;
}
