body {
	margin: 0 auto;
	max-width: 65em;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
	font-family: "Helvetica", "Arial", sans-serif;
	margin-top: 1em;
	padding-top: 1em;
}

pre {
	background: inherit;
}

nav {
	background: #FAFAFA;
}